body {
    background-image: url(../images/texture.png);
}

body::-webkit-scrollbar {
    display: none;
}

a {
    color: black;
}


/* ----- Base Overrides ----- */

.card {
    transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
}

.btn,
main,
aside,
aside > div:nth-of-type(1) > div:nth-of-type(2) > div,
#notifications > div[id^='not-'],
#notifications > div[id^='not-'] > div:last-child a p {
    transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
}

.navbar .navbar-left .navbar-brand img {
    transition: all 1s linear;
    -o-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -webkit-transition: all 1s linear;
}

.glyphicon {
    top: 3px;
    right: 3px;
}

.material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

.label {
    vertical-align: 7%;
    margin-left: 2px;
}

.popover {
    min-width: 200px;
    background-color: #191919;
    box-shadow: 1px 1px 1px 1px black;
    text-align: center;
}
.popover > .arrow::after {
    border-bottom-color: black !important;
}
.popover-content {
    min-height: 100px;
}

/* ----- Special Animations ---- */

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/* ----- Public Overrides ------ */

.navbar-default {
    background-color: black;
    border: 0;
    border-radius: 0;
}


.list-group > .list-group-item {
    background-color: #191919;
    border: 0;
    margin: .5em; 
    margin-left: 0;
    border-radius: 2px;
    padding: 1em;
    box-shadow: 1px 1px 1px 1px black;
}

.btn-squared {
    border: 2px solid white;
    color: white;
    font-family: 'Open Sans';
    border-radius: 2px;
}
.btn-squared:hover {
    color: #191919;
    background-color: white;
}


.nav-tabs li a {
    color: white;
}
.nav-tabs li a:hover {
    color: #191919;
}
.tab-footer {
    padding: 0.5em;
    border-top: 1px solid black;
}

.panel-default {
    background-color: transparent;
    border: 0;
    box-shadow: 2px 2px 2px 2px black;
}
.panel-default .panel-heading {
    background-color: white;
}
.panel-default > .panel-body {
    background-color: #191919;
}
.panel-default .panel-footer {
    background-color: #191919;
    border: 0;
    border-top: 2px solid black;
}
.btn-menu {
    border: 0;
    border-left: 2px solid white;
    border-radius: 0;
    color: white;
    font-family: 'Open Sans';
    padding: 1em;
    text-align: left;
    margin: 0.5em;
    margin-left: 0;
    margin-right: 0;
}

.btn-menu:hover {
    background-color: white;
    color: #191919;
    transform: translate(20px);
}

.btn-menu:focus {
    background-color: transparent;
    color: white;
}

.btn-link,
.btn-link:hover,
.btn-link:active,
.btn-link:focus {
    color: black;
}

.btn-link:hover {
    color: black;
    opacity: 0.7;
}

.btn-hamb {
    background-color: transparent;
    border: 0;
}

.btn-hamb:hover {
    opacity: 0.7;
}

.btn-hamb:hover,
.btn-hamb:active,
.btn-hamb:focus {
    background-color: transparent !important;
    border: 0;
}

.btn-default {
    border-radius: 2px;
    background-color: transparent;
    border-color: transparent;
    color: white;
    margin-left: 0.5em;
    *
}

.btn-default:hover {
    background-color: white;
    border-color: white;
    color: black;
}

.btn-default:hover > p {
    color: black;
}

.btn-primary {
    background-color: white;
    color: black;
    font-family: 'Open Sans';
    border-radius: 3px;
}

.btn-primary:hover {
    opacity: 0.7;
    background-color: white;
    color: black;
}

.btn-primary:active {
    background-color: white !important;
    color: black !important;
}

.btn-banner {
    padding: 0.75em;
    width: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: 'Ubuntu';
    font-weight: bold;
    margin: 0.2em;
}

.btn-banner:hover {
    color: white;
}

.btn-nothing {
    background-color: transparent;
}

.btn-danger {
    border-radius: 0;
    border: 0;
}

.btn-success {
    border-radius: 0;
    border: 0;
}
.btn-numbers {
    color: white;
    display: block;
    text-decoration: none !important;
    padding: 1em;
}
.btn-numbers:hover {
    background-color: black;
    color: white;
}
.btn-numbers:active,
.btn-numbers:focus {
    color: white;
}
.btn-info {
    border-radius: 0;
    border: 0;
}
.btn-nondefault {
    background-color: transparent;
    color: #191919;
    border: 2px solid #191919;
    border-radius: 2px;
}
.btn-nondefault:hover {
    background-color: #191919;
    color: white;
}
.label-role {
    background-color: black;
    color: white;
    margin-left: 12px;
}

.label-default {
    background-color: white;
    color: black;
    font-family: 'Open Sans';
    margin-left: 12px;
}

.label-director {
    background-color: rgb(46, 204, 113);
}

.label-supervisor {
    background-color: #FF3333;
}

.label-leader {
    background-color: rgb(155, 89, 182);
}

.label-developer {
    background-color: rgb(230, 126, 34);
}

.label-honorary {
    background-color: rgb(106, 232, 255);
}

.label-member {
    background-color: rgb(52, 152, 219);
}

.label-interest {
    background-color: #191919;
    color: white;
    text-align: center;
    font-family: 'Open Sans';
    box-shadow: 1px 1px 1px 1px black;
    border-radius: 2px;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin: 1em;
    transform: translate(0px, 0px);
    box-shadow: 1px 1px 1px 1px black;
    transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
}
.label-interest:hover {
    transform: translate(0px, -5px);
    cursor: pointer;
}
.label-interest > p {
    padding: 1em;
}
.label-interest > p::before {
    content: '#'
}
.badge-notifications {
    right: 2em;
    margin-top: 1em;
    background-color: black;
    border: 2px solid white;
    font-size: 10px;
}

.tooltip {
    background-color: #191919;
    color: white;
    font-family: 'Open Sans';
}

.tooltip {
    background-color: transparent;
}

.alert-banner {
    background-color: white;
    font-family: 'Open Sans';
    opacity: 0.7;
    cursor: pointer;
}

.navbar {
    margin-bottom: 0;
}

.navbar .navbar-right {
    margin-right: 3vw;
}

.navbar .navbar-left {
    margin-left: 3vw;
}

.navbar .navbar-left .navbar-brand img {
    height: 1.2em;
    margin: -.3em;
    margin-left: 0;
    margin-right: 0;
    display: inline;
}

.navbar .navbar-left .navbar-brand img:hover {
    cursor: pointer;
    transform: rotate(360deg);
}

.navbar .navbar-left .navbar-brand p {
    display: inline;
    color: white;
    font-family: 'Ubuntu';
    vertical-align: top;
}

.navbar .navbar-toggle {
    border: 0;
}

.navbar .icon-bar {
    background-color: white !important;
}

.navbar .navbar-toggle:hover {
    opacity: 0.7;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:active,
.navbar .navbar-toggle:focus {
    background-color: transparent;
}

.navbar .btn-hamb .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: white !important;
    margin-top: 4px;
    margin-bottom: 4px;
}

@media screen and (min-width: 0px) and (max-width: 992px) {
    .navbar .navbar-right .btn-default {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 768px) {
    .navbar .navbar-right .btn-hamb {
        display: none;
    }
}

.jumbotron {
    margin-bottom: 0;
}


/* ----- Custom Styling ------ */

main,
aside {
    top: 0;
    position: fixed;
    height: 100%;
    transform: translate(300px);
}

main {
    left: 0;
    width: 100vw;
    transform: translate(0px);
}

main > div {
    height: calc(100% - 50px);
    overflow-y: scroll;
}

main > div::-webkit-scrollbar {
    display: none;
}

main > div iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#page-error,
#page-loader {
    height: calc(100vh - 56px);
    background-color: #191919;
    text-align: center;
}

#page-error {
    color: white;
    font-family: 'Open Sans';
    font-weight: bold;
    padding: 30vh;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    font-size: 6vh;
}

#page-error div a {
    margin: 0.5em;
}

#page-loader > div {
    top: 30vh;
}

footer {
    background-color: black;
}

footer > div:first-child {
    padding: 1.5em;
    padding-left: 0;
    padding-right: 0;
    border-top: 2px solid black;
    background-color: #191919;
}

@media only screen and (max-width: 480px) {
    footer > div:first-child > div > div > div {
        text-align: center;
    }
    footer > div:first-child > div > div > div:nth-of-type(1) {
        border-bottom: 1px solid black;
        padding-bottom: 1em;
    }
    footer > div:first-child > div > div > div:nth-of-type(2) {
        border-top: 1px solid black;
        padding-top: 1em;
    }
}

@media only screen and (max-width: 320px) {
    footer > div:first-child a {
        display: block;
        padding: 1em;
    }
}

footer > div:first-child > div > div > div a p {
    margin: 0;
    font-family: 'Open Sans';
    color: white;
}

footer > div:first-child div > div > div:last-child a span {
    margin-right: 10px;
}

footer > div:last-child {
    padding-top: 2em;
    padding-bottom: 2em;
}

@media only screen and (max-width: 320px) {
    footer > div:last-child {
        display: none;
    }
}

footer > div:last-child > div > div > div > div {
    opacity: 0.6;
}

footer > div:last-child > div > div > div > div:last-child {
    margin: 1em;
}

@media only screen and (max-width: 480px) {
    footer > div:last-child > div > div > div {
        text-align: center;
    }
    footer > div:last-child > div > div > div:first-child {
        margin-bottom: 50px;
    }
}

footer > div:last-child > div > div > div:nth-of-type(1) > div p {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
}

footer > div:last-child > div > div > div:nth-of-type(1) > div p span:nth-of-type(2) {
    width: 130px;
}

footer > div:last-child > div > div > div:nth-of-type(1) > div p a {
    text-transform: capitalize;
    margin-left: 0.5em;
}

footer > div:last-child > div > div > div:nth-of-type(1) p {
    font-size: 1.25em;
    font-family: 'Open Sans';
    color: white;
}

footer > div:last-child > div > div > div:nth-of-type(1) p span:nth-of-type(2) {
    width: 125px;
    display: inline-block;
}

footer > div:last-child > div > div > div:nth-of-type(2) > div svg {
    height: 75px;
    width: 75px;
    margin: 1.25em;
    margin-left: 2em;
    margin-right: 2em;
}

@media only screen and (max-width: 992px) {
    footer > div:last-child > div > div > div:nth-of-type(2) > div svg {
        height: 50px;
        width: 50px;
        margin: 0.6em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}

aside {
    right: 0;
    width: 300px;
    background-color: #191919;
    border-left: inset 6px black;
}

aside > div > div > .row {
    margin: 0;
}

aside > div:nth-of-type(1) {
    background-image: url(../images/pages/main/preview.png);
}

aside > div:nth-of-type(1) > div:nth-of-type(1) {
    background-size: cover;
}

aside > div:nth-of-type(1) > div:nth-of-type(1) > div {
    height: 50px;
    padding: .3em;
    padding-left: 0;
    padding-right: 0;
}
aside > div:nth-of-type(1) > div:nth-of-type(1) > div > div:first-child img {
    height: 40px;
    border: 2px solid white;
}

aside > div:nth-of-type(1) > div:nth-of-type(1) > div > div:last-child p {
    font-size: 1.2em;
    margin: 0.4em;
    color: white;
}

aside > div:nth-of-type(1) > div:nth-of-type(2) > div {
    background-color: white;
    height: 50px;
    padding: .4em;
    padding-left: 0;
    padding-right: 0;
}

aside > div:nth-of-type(1) > div:nth-of-type(2) > div a {
    width: 150%;
}

aside > div:nth-of-type(1) > div:nth-of-type(3) > div {
    box-shadow: 0 2px 2px 0 black;
}

aside > div:nth-of-type(1) > div:nth-of-type(3) > div > div {
    min-height: 0;
    max-height: 450px;
    padding: 0;
}

aside > div:nth-of-type(1) > div:nth-of-type(3) .panel {
    background-color: transparent;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

aside > div:nth-of-type(1) > div:nth-of-type(3) div table {
    border-radius: 0;
    border-top: 2px solid black;
    color: white;
    margin-bottom: 0;
    background-color: #2f2f2f;
}

aside > div:nth-of-type(1) > div:nth-of-type(3) div table th {
    background-color: white;
    font-family: 'Ubuntu';
    color: #191919;
}

aside > div:nth-of-type(1) > div:nth-of-type(3) div table th,
aside > div:nth-of-type(1) > div:nth-of-type(3) div table td {
    text-align: center;
    font-family: 'Open Sans';
}

aside > div:nth-of-type(1) > div:nth-of-type(3) div table td {
    padding: 1em;
}

aside > div:nth-of-type(1) > div:nth-of-type(3) > div > div > div {
    background-color: #191919;
    overflow-x: hidden;
}

#notifications-clear {
    background-color: white;
    overflow: hidden;
}

#notifications-clear > a {
    text-decoration: none;
}

#notifications-clear > a > div {
    font-family: 'Open Sans';
    border-top: 2px solid black;
    padding: 1vh;
    max-height: 40px;
}

#notifications-clear > a > div span {
    transform: rotate(180deg);
}

#notifications-clear > div a {
    margin: 0;
}

#notifications-container > div:nth-of-type(2) {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 350px;
}

#notifications-container > div:nth-of-type(2)::-webkit-scrollbar {
    width: 6px;
}

#notifications-container > div:nth-of-type(2)::-webkit-scrollbar-track {
    background-color: black;
}

#notifications-container > div:nth-of-type(2)::-webkit-scrollbar-thumb {
    background-color: #191919;
}

#notifications > div[id^='not-'] {
    width: 288px;
    background-color: #191919;
    transition: all 0.2s ease;
    border-top: 1px solid black;
    box-shadow: 0 2px 2px 0 black;
    opacity: 1;
}

#notifications > div[id^='not-']:hover {
    opacity: 0.9;
}

#notifications > div[id^='not-'],
#notifications > div[id^='not-'] div {
    overflow: auto;
}

#notifications > div[id^='not-'] > div:first-child {
    box-shadow: 0 2px 2px 0 black;
}

#notifications > div[id^='not-'] > div:first-child > a > div {
    color: white;
}

#notifications > div[id^='not-'] > div:first-child > a > div:first-child {
    float: right;
    width: calc(100% - 70px);
}

#notifications > div[id^='not-'] > div:first-child > a > div:first-child > div p {
    margin: 0;
}

#notifications > div[id^='not-'] > div:first-child > a > div:first-child > div:first-child p {
    font-size: 12px;
    padding: 0.7em;
    padding-bottom: 0.2em;
    padding-left: 0;
}

#notifications > div[id^='not-'] > div:first-child > a > div:first-child > div:last-child p {
    opacity: 0.7;
    font-size: 10px;
    margin-right: 10px;
}

#notifications > div[id^='not-'] > div:first-child > a > div:last-child {
    float: left;
    width: 70px;
}

#notifications > div[id^='not-'] > div:first-child > a > div:last-child span {
    font-size: 3em;
    margin: 0.3em;
}

#notifications > div[id^='not-'] > div:last-child {
    overflow: hidden;
}

#notifications > div[id^='not-'] > div:last-child a:hover {
    cursor: pointer;
}

#notifications > div[id^='not-'] > div:last-child a p {
    margin: 1em;
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.5;
    font-family: 'Ubuntu';
    color: white;
    font-size: 10px;
}

#notifications > div[id^='not-'] > div:last-child a p:hover {
    opacity: 1;
}

aside > div:nth-of-type(2) {
    height: calc(100% - 50px);
    overflow-y: auto;
    overflow-x: hidden;
}

aside > div:nth-of-type(2)::-webkit-scrollbar {
    display: none;
}

aside > div:nth-of-type(2) > div {
    margin: 60px;
    margin-left: 0;
    margin-right: 0;
}

aside > div:nth-of-type(2) > div > div > div > div a {
    transform: translate(30px);
    color: #191919;
    background-color: white;
    border-radius: 4px;
}

aside > div:nth-of-type(2) > div > div > div > div a:hover {
    transform: translate(60px);
}

aside > div:nth-of-type(2) > div:nth-of-type(3) {
    border-top: 2px solid white;
    padding-top: 20px;
}

aside > div:nth-of-type(2) > div:nth-of-type(3) > div > div svg {
    height: 50px;
    width: 50px;
}

aside > div:nth-of-type(2) > div:nth-of-type(3) > div > div:nth-of-type(1) {
    text-align: right;
}

aside > div:nth-of-type(2) > div:nth-of-type(3) > div > div:nth-of-type(2) {
    text-align: center;
}

aside > div:nth-of-type(2) > div:nth-of-type(3) > div > div:nth-of-type(3) {
    text-align: left;
}

#base-error {
    box-shadow: 0 2px 2px 0 black;
}

#base-loader,
#base-error > div:first-child {
    text-align: center;
    max-height: 50px;
    background-color: white;
    padding: 1.65vh;
    font-weight: bold;
    font-family: 'Open Sans';
    color: red;
}

#base-error > div:last-child {
    text-align: center;
    padding: .5em;
    background-color: #191919;
}

#base-loader > div {
    height: 2em;
    !important;
    width: 2em !important;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: .3em solid #e5e5e5 !important;
    border-right: .3em solid #e5e5e5 !important;
    border-bottom: .3em solid #e5e5e5 !important;
    border-left: .3em solid #191919;
}

div[id$='-loader'] > div,
div[id$='-loader'] > div:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

div[id$='-loader'] > div {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.5);
    border-right: 1.1em solid rgba(255, 255, 255, 0.5);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.5);
    border-left: 1.1em solid #191919;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
}














.card {
    border-radius: 3px;
    margin: 1em;
    background-color: #191919;
    transform: translate(0px, 0px);
    box-shadow: 1px 1px 1px 1px black;
}
.card:hover {
    transform: translate(0px, -20px);
    cursor: pointe
}
.card > div p {
    margin: 0;
}
.card > div:nth-of-type(1),
.card > div:nth-of-type(3) {
    padding: 5%;
}
.card > div:nth-of-type(1) p,
.card > div:nth-of-type(3) p {
    color: white;
    font-family: 'Open Sans';
}
.card > div:nth-of-type(2) {
    height: 150px;
    background-image: url(../../images/preview.png);
    background-size: cover;
    border: 2px solid white;
    border-left: 0;
    border-right: 0;
}
.card > div:nth-of-type(3) {
    height: 100px;
}
.card > div:nth-of-type(3) p {
    font-size: 0.8em;
}









.twitter-typeahead {
    width: 100%;
    font-family: 'Open Sans';
}
.tt-emptysug {
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
}
.tt-dataset {
    background-color: rgba(0, 0, 0, 0.7) !important;
    margin: 1em;
    margin-left: 0;
    margin-right: 0;
    min-width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
}
.tt-menu {
    width: 100%;
}
.tt-suggestion,
.tt-emptysug {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1em;
    color: white;
    font-family: 'Open Sans';
}
.tt-suggestion:hover {
    cursor: pointer;
    opacity: 0.6;
}
.tt-hint {
    opacity: 0.6 !important;
}