#banner > div {
    overflow: hidden;
    padding-top: calc(40vh - 54px);
    height: calc(100vh - 54px);
    background-size: cover;
}

@media only screen and (max-width: 765px) {
    #banner > div {
        height: 100vh;
        padding: calc(50vh - 127px);
        padding-left: 1em;
        padding-right: 1em;
    }
}

#banner > div > div > div > div > h3 {
    color: white;
    font-size: 4vh;
    font-weight: bold;
    font-family: 'Ubuntu';
    text-shadow: 2px 2px black;
}

@media only screen and (max-width: 480px) {
    #banner > div > div > div > div > h3 {
        font-size: 1em;
    }
}

#banner > div > div > div > div > form {
    margin: 3vh;
    margin-left: 0;
    margin-right: 0;
}

#banner input {
    padding: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    color: white;
    opacity: 0.6;
    border-radius: 3px;
}

#banner > div > div > div form input {
    padding: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    border: 0;
    color: white;
    opacity: 0.6;
    border-radius: 3px;
}

#banner > div > div > div > div form input:focus {
    opacity: 1;
}

#banner > div > div > div form a {
    opacity: 0.6;
}

@media only screen and (max-width: 480px) {
    #banner > div > div > div form a:nth-of-type(2) {
        display: none;
    }
}

#banner > div > div > div form a:nth-of-type(1):hover {
    background-color: green;
}

#banner > div > div > div form a:nth-of-type(2):hover {
    background-color: red;
}

#banner > div > div > div > div form a:nth-of-type(2) button:active,
#banner > div > div > div > div form a:nth-of-type(2) button:focus {
    color: white;
}

#numbers {
    background-color: #191919;
    box-shadow: 1px 1px 1px 1px black;
    color: white;
    padding: 1em;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Open Sans';
}

@media screen and (max-width: 760px) {
    #numbers > div > div > div:nth-of-type(n+4) {
        margin-top: 2em;
    }
}

#numbers h3,
#numbers p {
    margin: 0;
}

#articles,
#interests,
#dashboard,
#social {
    margin-top: 100px;
    margin-bottom: 100px;
}

#dashboard {
    color: white;
    font-family: 'Open Sans';
}

#dashboard > div > div > div > div {
    margin: 1em;
    margin-top: 4em;
}

#dashboard > div > div > div > div:first-child {
    margin-top: 0;
}

#dashboard > div > div > div > div > p {
    margin-bottom: 20px;
}

#dashboard #discord > div > div > div:nth-of-type(2) {
    height: 300px;
    overflow-y: scroll;
    padding: 0;
}

#dashboard #discord > div > div > div:nth-of-type(2)::-webkit-scrollbar {
    width: 6px;
}

#dashboard #discord > div > div > div:nth-of-type(2)::-webkit-scrollbar-track {
    background-color: black;
}

#dashboard #discord > div > div > div:nth-of-type(2)::-webkit-scrollbar-thumb {
    background-color: #191919;
}

#dashboard #discord > div > div > div:nth-of-type(2) > div {
    overflow: auto;
    box-shadow: 0 2px 2px 0 black;
}

#dashboard #discord > div > div > div:nth-of-type(2) > div div {
    padding: .5em;
}

#dashboard #discord > div > div > div:nth-of-type(2) > div div:first-child {
    float: left;
    width: 300px;
}

@media only screen and (max-width: 992px) {
    #dashboard #discord > div > div > div:nth-of-type(2) > div div:first-child {
        width: 100%;
    }
}

#dashboard #discord > div > div > div:nth-of-type(2) > div div:first-child img {
    height: 50px;
    float: left;
    margin: .25em;
    border-radius: 50%;
    border: 2px solid white;
}

#dashboard #discord > div > div > div:nth-of-type(2) > div div p {
    float: left;
    font-size: 1.25em;
    margin: .7em;
    margin-left: .25em;
}

#dashboard #discord > div > div > div:nth-of-type(2) > div div:first-child p {
    margin: .8em;
}

#dashboard #discord > div > div > div:nth-of-type(2) > div div:last-child p {
    float: none;
}

#dashboard #discord > div > div > div:nth-of-type(2) > div div:last-child {
    float: right;
    width: calc(100% - 300px);
}

@media only screen and (max-width: 992px) {
    #dashboard #discord > div > div > div:nth-of-type(2) > div div:last-child {
        width: 100%;
    }
    #dashboard #discord > div > div > div:nth-of-type(2) > div div:last-child p span {
        display: block;
        padding: 1em;
    }
}

#dashboard #interests > div ul li {
    overflow: auto;
    margin: 1em;
    margin-left: 0;
    margin-right: 0;
}

#dashboard #interests > div ul li > div:nth-of-type(1) {
    float: left;
    font-size: 1em;
    margin: .5em;
}

#dashboard #interests > div ul li > div:nth-of-type(2) {
    float: right;
}

#dashboard #interests > div ul li > div:nth-of-type(2) > span {
    margin: 0;
    margin-right: 1em;
}

#dashboard #games > div {
    box-shadow: 1px 1px 1px 1px black;
}

#dashboard #games > div > div > div > div:nth-of-type(1) {
    overflow: hidden;
    height: 200px;
    background-size: cover;
}

#dashboard #games > div > div > div > div:nth-of-type(1) img {
    height: 100px;
    margin-top: 3em;
}

#dashboard #games > div > div > div > div:nth-of-type(2) {
    padding: 1em;
    padding-bottom: 2.5em;
}

#dashboard #games > div > div > div > div:nth-of-type(2) h2 {
    margin: .25em;
}

#dashboard #games > div > div > div > div:nth-of-type(2) p {
    height: 50px;
}

#dashboard #giveaways > div > div {
    box-shadow: 1px 1px 1px 1px black;
    padding: 1em;
    background-size: cover;
    margin: 1em;
    margin-left: 0;
    margin-right: 0;
}

#dashboard #giveaways > div > div > div h4,
#dashboard #giveaways > div > div > div p {
    text-shadow: 2px 2px black;
}

#dashboard #giveaways > div > div > div:nth-of-type(2) {
    text-align: right;
}